BasedOnStyle: Mozilla
IndentWidth: 4
ColumnLimit: 120
Standard: c++20
IndentExternBlock: NoIndent
AlwaysBreakAfterDefinitionReturnType: None
BreakAfterReturnType: None
SpaceAfterTemplateKeyword: true
AllowShortFunctionsOnASingleLine: All
AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortLambdasOnASingleLine: All
BreakBeforeBraces: Attach
BreakInheritanceList: AfterComma
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignConsecutiveShortCaseStatements: { Enabled: true }
AlignEscapedNewlines: Left
AlignTrailingComments: true
SortIncludes: false
